# Hassas Çevre ve Yapılandırma Dosyaları
.env
.env.*
!.env.example

# Yüklenen Kullanıcı Dosyaları ve Medyalar
uploads/*
!uploads/.gitkeep
uploads/ilanlar/*
!uploads/ilanlar/.gitkeep
uploads/profil/*
!uploads/profil/.gitkeep

# IDE, Sistem ve Editör Dosyaları
.idea/
.vscode/
*.swp
*.DS_Store
*.log
